option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mozio.settings"
    PYTHONPATH: "/opt/python/current/app/mozio:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "mozio/mozio/wsgi.py"

packages:
  yum:
    geos: []
    git: []
    python27-devel: []
    mysql-devel: []

commands:
  01gdal:
    command: "yum --enablerepo=epel -y install gdal"

container_commands:
  01_migrate:
    command: "/opt/python/run/venv/bin/python /opt/python/ondeck/app/mozio/manage.py migrate"
    leader_only: true
