option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DJANGO_SETTINGS_MODULE
    value: mozio.settings
    option_name: PYTHONPATH
    value: /opt/python/current/app/mozio:$PYTHONPATH
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mozio/mozio/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: "/static/" 
    value: mozio/mozio/staticfiles/
  - option_name: MYSQL_DB
    value: mozio  
  - option_name: MYSQL_USER
    value: vmascarenhas
  - option_name: MYSQL_PASS
    value: voith01#
  - option_name: MYSQL_HOST
    value: test-mysql.cd0bhxxwghsa.us-east-1.rds.amazonaws.com
  - option_name: MYSQL_PORT
    value: 3306

packages:
  yum:
    geos: []
    git: []
    python27-devel: []
    mysql-devel: []

commands:
  01gdal:
    command: "yum --enablerepo=epel -y install gdal"

container_commands:
  01migrate:
    command: "/opt/python/run/venv/bin/python /opt/python/ondeck/app/mozio/manage.py migrate"
    leader_only: true

  02collectstatic:
    command: "/opt/python/run/venv/bin/python /opt/python/ondeck/app/mozio/manage.py collectstatic --no-input"
    leader_only: true
